<div class="sidebar">
	<ul>
		<li {% if not active_nav or active_nav == 'DASHBOARD' %} class="active" {% endif %} >
			<a href="{% url 'classes:dashboard' %}">
				<div class="sidebar-icon fui-cmd"></div>
				<div class="sidebar-content">TEACHERS</div>
			</a>
		</li>

		<li {% if active_nav == 'ADD_TEACHER' %} class="active" {% endif %} >
			<a href="{% url 'classes:add_teacher' %}">
				<div class="sidebar-icon fui-gear"></div>
				<div class="sidebar-content">ADD TEACHERS</div>
			</a>
		</li>
	</ul>
</div>
