<div class="sidebar">
	<ul>
		<li {% if not active_nav or active_nav == 'DASHBOARD' %} class="active" {% endif %} >
			<a href="{% url 'schools:dashboard' %}">
				<div class="sidebar-icon fui-list"></div>
				<div class="sidebar-content">DASHBOARD</div>
			</a>
		</li>
		<li {% if active_nav == 'SCHOOLS' %} class="active"  {% endif %} >
			<a href="{% url 'schools:view' %}">
				<div class="sidebar-icon fui-new"></div>
				<div class="sidebar-content">SCHOOLS</div>
			</a>
		</li>
		<li {% if active_nav == 'SUPERADMIN' %}  class="active" {% endif %} >
			<a href="{% url 'auth:viewsuperadmins' %}">
				<div class="sidebar-icon fui-user"></div>
				<div class="sidebar-content">SUPER ADMINS</div>
			</a>
		</li>
	</ul>
</div>
