{% extends "base/base_suadmin.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | SUadmin Add Schools
{% endblock %}


{% block content %}
<head>
    <style>
		#myModal {    
		    width: 70%;
		    margin-left: -30%;
		    left: 45%;
		}
	</style>
</head>	
<div class="page-content">
	<div class="row-fluid">
	<div class="content">
		<img class="title-icons" src="{% static 'base/img/icons/plus.png' %}">
		<h3 class="title">Add New School</h3>
		<form class="form-horizontal span11" action="{% url 'schools:submitSchool' %}" method="post">{% csrf_token %}
			{% for form in addSchoolForm %}
				<div class="control-group">
					<label class="control-label" for="level">{{ form.label_tag }}</label>
					<div class="controls">
						{{ form }}
						{% for error in form.errors %}
						<p class="text-error">{{ error }}</p>
						{% endfor %}
						
					</div>		
				</div> 
			{% endfor %}

			<div class="form-actions">
				<input type="hidden" value="{{ next_url }}" name="next_url" />
				<button type="submit" class="btn btn-primary"><b>Save</b><i class="fui-check"></i></button> 
				<button type="reset" class="btn btn-warning"><b>Reset</b><i class="fui-play"></i></button> 
				<a href="{%url 'schools:view' %}" type="button" class="btn btn-danger"><b>Cancel</b><i class="fui-cross"></i></a>
			</div>
		</form>
	</div>
</div>
</div>

{% endblock content %}