{% extends "base/base_suadmin.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}
<head>
	<script src="{% static 'base/js/jquery.min.js' %}"></script>

	<script>
	    $(function() {
		    var tooltips = $( "[title]" ).tooltip();
		    $(document)(function() {
		    	tooltips.tooltip( "open" );
		    })
	    });
	</script>
	
</head>

<div class="page-content">
	<div class="row-fluid">
		<div class="content">
			<div class="row-fluid">
			<p class="pull-right">
				<a  href="{% url 'schools:add' %}" data-toggle="tooltip" data-trigger="hover" data-placement="left" title data-original-title="Add School" class="btn btn-warning"><i class="fui-plus"></i>Add New School</a>
			</p>
			<img class="title-icons" src="{% static 'base/img/icons/Clipboard@2x.png' %}">
			<h3 class="title">My Schools</h3>
			<hr>
			{% if schools.all.count %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 3px"><center>#</center></th>
						<th style="width: 53px"><center>School Name</center></th>
						<th style="width: 3px"><center>No. of Admins</center></th>
						<th style="width: 3px"><center>View</center></th>
						<th style="width: 3px"><center>Delete</center></th>
					</tr>
				</thead>
				<tbody>
					{% for schools in schools %}
						<tr>
							<td><center>{{forloop.counter}}</center></td>
							<td><center>{{schools.name}} ( {{schools.short_name}} )</center></td>
							<td><center>{{schools.admin.all.count }}</center></td>
							<td><center><a href="{% url 'schools:viewSchool' schools.id %}" class="btn btn-primary"><span class="fui-location"></span></a></center></td>
							<td><center><button type="button" class="delsys-button btn btn-danger" data-id={{ schools.id }} data-toggle="modal" data-target="#confirm-delete"><i class="fui-cross"></i></span></button></center></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<div class="alert alert-block alert-error">
		          You don't have Schools yet.
		        </div>
			{% endif %}
		</div>
	</div>

<div id="confirm-delete" class="modal hide fade" data-backdrop="static">
	<div class="modal-header palette-alizarin">
		<h3 class="text-white">Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this School?</p>
		<p>Continuing with this action, will erase all the admins assigned in this school. </p>
		<form action="{% url 'schools:delete' %}" method="post">
			{% csrf_token %}
			<input type="hidden" id="school_id" name="school_id" value="">
		<form>
	</div>
	<div class="modal-footer">
		<button type="submit" name="gradesys-delete" class="btn btn-danger pull-left">Delete <span class="fui-cross"></span></button>
		<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
	</div>
</div>

<script>
	$(".delsys-button").on("click", function() {
		var schoolid = $(this).data('id')
		$("#school_id").val(schoolid)
	});
</script>

<script src="{% static 'base/js/jquery.min.js' %}"></script>
{% endblock %}