{% load staticfiles %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
 </head>
{% block content %}
		<div style="background-color: #1abc9c; color: #34495e; font-family: 'Lato', sans-serif; line-height: 1.231; font-size: 14px;">
			<center>
				<img style="float: none; text-align: -webkit-center; max-width: 100%; vertical-align: middle; border: 0; padding-bottom:3px; height: 50px; padding-top:5px; margin-right: -5px" src="data:image/jpg;base64, iVBORw0KGgoAAAANSUhEUgAAAMEAAADICAYAAABRTYVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0
NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFu
Y2VJRD0ieG1wLmlpZDoxOEU0MTczMkFCMDcxMUUyOERBRkU0Q0U0NENCMjVFRCIgeG1wTU06RG9j
dW1lbnRJRD0ieG1wLmRpZDoxQjY5MDZFOEFCMDcxMUUyOERBRkU0Q0U0NENCMjVFRCI+IDx4bXBN
TTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjE4RTQxNzMwQUIwNzExRTI4
REFGRTRDRTQ0Q0IyNUVEIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjE4RTQxNzMxQUIwNzEx
RTI4REFGRTRDRTQ0Q0IyNUVEIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4
bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+D/MDlAAAF+ZJREFUeNrsXQl0XFd5/t4y+6LRbmuX
5SWObQJNA2VrT0/DgcJJoBR6ynJayk4KJ5xQAoWyJCE0tLRQyAaE0EMCIVuTkAIJCQkUmhRbtmx5
ky3HkrVrNBrNjGafeff13hnJtmxJljRPmuX93znvWB6NZt679//e/917v/s/Sdd1XIjpcARFxC7Z
/83nWcMn60EgrB1xfjzLjxv5cUK8UFvlXfSNcomd+OWcAM8p/n8nAhAKhZMf1/LjBX5sWe6NpUSC
y+YI0ED9RzAQNfy4ebk3qCVyojtk/zc4Ab7RSH1GWAdcXeqZYPscATZTXxHWCfZSzgTbePA/x0nQ
RP1EKBaKmQm2zhGgmbqBUEwUKxN08QHw83wg3EJdQDBjJthCBCCYmQSdcwRopaYnmFEOtSv+f+ME
+I82anaCGTNB2xwB2qnJCWbMBK3K5Nefl6e+1UnNTTBjJmiZI8AWamqCGUkwT4AuamaCGeVQszL5
r8/JU9/eSk1MMGMmaJojwDZqXoIZM8FmZfJfOAFu305NSzBjJmjkBPgVJ8AOalaCGUnQMJcBdlKT
Eswoh+qVya9xAtxxOTUnwYyZYJ4Au6gpCWbMBJwAtz0rT925m5qRYMZMUMcJ8AwnwMuoCQlmJEHt
HAGuoOYjmFEOVSuT/8wJcNfLqekIZswEvjkCvIKajWDGTFClTHACBO66kpqMYMZMME+AP6TmIpgx
E3ACfPVpOXD3VdRUBDNmAkGAX3ACvIqaiWDKTCBP3f5zeeaBV0OpWtsna2FqXUJZQFrq+QQTE+N6
sU7K7fbww029QzAK4o7sK5fnExABCCU1JiACEIgERAACkYAIQCASEAEIRAIiAIFIQAQgEAmIAAQi
ARGAQCQgAhCIBEQAApGACEAgEhABCEQCIgCBSEAEIBAJiAAEIgERgEAkIAIQiAREAAKRgAhAIBIQ
AQhEAiIAgUhABCAQCYgABLOTgAhAMDUJiAAEU5OACEAwNQmIAARTk4AIQDA1CYgABFOTgAhAIBIQ
AQgkhwgEIgGBQCQgEIgEBAKRgEAgEhAIRAICgUhAIBAJCAQiAYFAJCAQKhnqkXdKF724+Z4wtQyh
IpDNZhGNRuHz+bBYrOdIcN7PO/nxBsGB8Q9WSUQEQjlD13XEYjHEOAEkLW0f/4f22+Z+NcWP5/lx
4EIS3MqPz5I8IlQC0qkUIpEIslo2938pm7bxfz5zwdu+z4+P8EMTJHgPPz5HTUcod2iahtnZWSST
iZW8/QP8OMWP28Sd/++p+QjlDiF9AlNTKyXAPD4yL4e2UhMSylb6pNOY5dInk82s5c87+GEXJLBS
UxLKDYyxnPRJJOKFfpRNVqySRE1KKCckEomc9CmEACLq3c323M9qw5vdrsTxLMKnktA1nVqYULLI
ZDK5WZ9MJl3Yrd+nwtNaAy3j5P8b5GMCL+B9kxWuQSuCL8SRmMpQaxNKCmLOX0ifeDxW0Odw1QNv
hweyrQZME3NCDPMDY54b+Bs6gfoWJxI9GmYOxKnlCSUBMdszG5mFxrRCaJSTPvbaOrCslSuehb9V
F/zPAjheqcCx3QPWfye0rg8BsoV6grDhEHYHIX3S6VRBn2ON9cNz4JtgviZOgMXfoy76qo/HfvI2
yN2PQuu4GazhtdQrhA2TPvN2Bx1rH6PKWgye/nuhHn4KLLP856hLD5/54eyHMvIuyOPXQtv+BeiO
RuolwrrhQrvDWuH0/wqO7u+BhSJzqh9rJMHZfCL48FNYjjwHreZT0La8j7+gUI8RDMMq7Q5LwpIY
hqf3W9BPHwVbRRJRV/pG3RGFHL+JS6SHoXXeAlZ3FfUeoWDE4/Hcim8h0kdiKXgG7oel5zGwNFv1
36ur+zZ+OI5BGXoHl0jv4BLpc9BttdSThNVLn8LsDmfhmH6BS5+7oE9Pg63xM9Q1/ZVV53x4GJbD
v4RW+2k+eH4vJwi5sAmXhlF2BzU1Cc/h24H+bj6YLsz0oBbyx7o9DDn6T5APPMQl0lfAal5OvUxY
EsLuIO7+TGdr/gxJz8B9ht+AeczpyfScPEHxSHBWItl6oQy+jUukd0Pb9mno1mrqccJZGGZ3CB2E
a//t0CfHYKTBRzXsk6yMs5QPTnp/Aa3+s9Da3kkSyeQQc/5if28sFi3oc5R0EO7j34Fy7Lf8M40/
T9XwC7dPQ458GnLPg8huuQW6bxdFgwlhjN2BwTX8BGz774ceT2C97J3qunyqkEjWbqgD14DZ/oZL
pBsAi5ciwwQwzO4wexzu/d+GPjaI9fY2q+v66ZYsZHYv5EP/Ddb4eWitbzNkIEMoTeljiN0hG4Wn
73tQjjyDAsbPJUSCedj9kEPXQw78BNkuLpG82ylqKgjG2B10OMefhm3fD4DoLDZyZ4u6Yd8kEoDl
RagvvQnM8UFoWz/Jv91JEVTGMMzuEBuAu+fbwFBfUa5D3fBvFBIpezeXSE9A2/wlsKY3UzSVIQyx
O2gJuE/9EBYul/WsVrRrUYv2zbZxKNMfhTz1J9C6bobu7qTIKgfpY5Tdwf8bOLrvgR6aRrE39apF
/XZJGFJ/A7X/ajDXxzgZPg4odoq0EoRhdofEKNyH7oR0ugelsqNdLYmzsGQgp7/FJdJj0JpuAtt0
NUVdCcEQuwPLwHX6AVh6HhVLyCV1fWpJnY11GMrU+yH738Czwpegu9ooAosIo+wO9uA+OPbeBQQn
SvI61ZI7IyGRpGe4RPotmPvj0LZ8FJCpPthGwji7QwDu3rsgn3yxpK9XLd0zS0JOfp1LpEehNd8C
1vDHFJ0bgFQymbv7F2R30DW4zjwGa/eP+Ug6WfLXrJb8GVoGoEy+l0ukt3CJ9EXojs0UqesAMecv
gj+VKixoreHDcO67A5J/qGyuXS2LsxQSCT+DeuLXYN7roXV8gErBGCh9DLE7ZMJwH/selKPi+Rfl
VclQLa+zjUGOfxVy7yPQWsQ+51dTFBcAY+wODM6Rn8O27z4gMVuW7aCW51mfhDL211wi/QUfOH8O
ur2BInqV0scQu0O0H65uLn3GTpZ1e6hle+ayDon9F5dIz4BVfQpa+99SKZgVQNgdopwAhcz5i8JW
rr7/hNr7FC6qaUgkKAKUWcjRL0M+/BCXSLeC1VxJkb6Y9DHK7jDxHGx774EUDVVM26gVcyXyMSgj
b+cS6a+gdYpSMLTPOafYGcvN+Rda0VmND8F14E7IQ70V10ZqRV2NkEjZB6H2PQWt+rNgre8y9T5n
Y+wOKbj6fwTLwcf5YCJbke2kVuRVKWEokX+EcuRBZFtvhe7bY6rgF1scw+Fw4XaHqRfg+P13gYi/
ottLreirkw5CHboGuv89yHbcCFirKvpy5+0O8VisoDl/JTkJV89dUAb2muKmoVb8FcoMUvo+WPp+
Dq3282DNf4lK3OdshN1BFLZynn4ElgMPQ8okYRaoprlSeRrKzA38eIBLpK9Ar9pZEZdllN3BNnOQ
S587IQVHTDd2Uk13xdjHJdJbwOzvg9YhSsG4y1b6GGF3EIWtnL3fhXrytyg3uwORoKCxQhZy6h7I
fT/lEukLYE1vLavTN8zuMPhTWPffDyll7mfUqaa+eskPJfgJyKEHoAmJ5Nla8tLHCLuDNdLHpc8d
kKdeAsHsJJjnAnsB6uAbwZwfhtb+iZIsBWOI3SEbhfPI92E5/kusS1FPIkG5MyEDOXEHpL7Hweq+
CLbpz0vitHJbHMWcf0F2Bx2O0Wdg2/sDSIkw9fVCZKXpJz0JtVqmEg8Xho3yp9Dabobuai/K9xtl
dxCFrRx774QyfpQ69cI+Zkz3ts3KqmSThBNqEzXJBYlBex7q6avB3NdxMnxsQ0vBGGJ30BJw9d0P
y+EnseQDfE3fyVIuvUrh31Ud5v/uphZZ5o4htYHV3wTW8Gfrm5eNsjtM/A/sv78HUixAnbc8Ip6W
cJUKs04Or+aGoQ9B8f8d5Jk3Qmv9MnRns7EkM8juIApbOfbfDXVoP3XaSgdLNDBe7dj5aS6RfgPm
uZ6T4cOG7HM2xO7AMnD2/wSWg49yGZSmjlrtzYOaYLVIQp79GqS+R8AabwGrfd2aPsUwu0Ogm0uf
uyGHx6hriAQbnBXYS1DG3w15+ho+cP4CdPvK5haE9Jmf8y/I7pAKwNnzHZ6Z/pc6g0hQZDKkn4R6
6jmwqhugtbx/2X3OhtgddA3O04/DeuDHXJ4lqAOIBKWCGJcjt0CKPgSt8VboNa9c8Fsx5y+Cv2C7
w8yRnNNTDg5SkxMJSjQraCegjr0TevDtPCuIUjD1xtgdMmE4D30flpO/Ak3mEQnKADqk5KNQXnoG
UfU6RLxvLWCfM4PjzFOwdf8QUipCTUskKLOsoEfgydwGW+AxhJw3IuVa3XqkJXIqb3fw91FjEgnK
G1bpBBoSH0Isfi1C1R8DU33LS59sDI6j98F67GcVUdiKSEA4K2tc0uNwhH6NsHIdotXXiHC/6F32
UVHY6l7IiSA1GZGgMiEjhGrtq3BNPYEZ12eQdu7Id0JsOCd91PFD1EhEArNIpKNojL8P0eA7kIn6
YDn4BDk9iQTmgh6RoE1I8GiP5v6f8FqgRZzQmUSNQySo8OCPSYgPyrAzng2E924u5p3eDBLWMNIR
B6SkjRqKSFCBwZ+QEOlXoKYAj0cHFnFWOOyAzZbA9EwKtqQLyFKZeSJBJYAHfeikgnRARuMmBukS
D+GUeWaor2EIxyNIRmxwZh0kkYgEZYoMED6lIDSgoKmZoWbz6iwTVU4Jbnsaw1MpeJkLaoYeYbue
kKkJDIQGRHnwn3iSB21IQucWjUuctXl9FN4zHY08C3himJQi/HZFC2eUCUo8+BMjCga6Ffi8Onbs
0CAbJOlr3BK8Tob+8RC8igMe5hCbnqnNiQSlMuLlsn9MxuA+FRL/uWsLg8NhvMtT5VlhZ7MCfySJ
k/4kulxuKCSRiATFDv7MlIwzexXEIzJa2zTU1q2/xbnBK6PaBRwdicCuW9FscUPXSNESCTYY2WkJ
w/tVBMdlNDQydF2RhbKBs5kW/l0vb1cxHsriwFgQO6pccOYkEvUNkWCdwcISRg+o8A/JcLl0XL5b
y/1bLGz2yXy8IOPISAzZdAKXebyQMtSdRIL1UD5RCROHVIydknN3/PZOhoYGVhLnZuO9d2WHipEg
w96xGXR67GhUXNAZSSQigRHBH5cwdUTBSJ+SK+BcxzV/C9f+FkvpnWtLjYxat8SzQgpD0RT2VLth
y1J5WSLBWpGSEDzOB72HVTB+wxezPeLun7M7lDAcVglXbVExFGA4MD6LOkcS25xuPoihLiYSrBTp
/CrvQI+ae1yvmOdvbWN5u0MZTcu31cmo80joHc7ihcAMLqt2olYihyqRYDnwgI8OKDi9X0UmlX+p
ukZHW7sGa5lOxTttEl7VpWKQZ4UT43E+dkjmJJIlQw5VIsH50ID4EL/z71MxXw7IZufSp52hylf+
840ie3XWy6jPZQUNe/0RNLut6HC4yaFqehJwnZ8Uq7x7VcRm8xJBVETZvJlhcxODXGETK267hFdv
VfGSX8NLk2mMx4K4vMYJn84lEtkvTEYCfnNPT/IBb7eCyPS5SK+q4tKng8Fur9zVJpEVtjYquRXn
Q0NZHJmOw21NYrfPQ/YLU5BAF6u8MoZ58AcnzwW/0PutXPfX1JhnqdXrkPDa7Rb0T2gYmGL4P38Y
7V4rWq0eU9svKpoEWkjCmFjlHZYX3BWF3aGlhRnm9CwniI07Ozbns4KYQToTSWNUDmIXl0hukzpU
K5IEjGv9iYMqxk8vvLu5PXzgy6WP00lGm2qXhNfxrNA3pmFomuFQIIZqexKXeT2QMxYiQdkqn7gE
/2EFoyeUBY/pVdX8nH9dPQPhHMTGnV0tChqrZBzmWWEmqeHFZAhbfDY0qeZxqFYGCZISAscUDB9V
cqu856O+gUufVpYjAmFxiMW11+2w4DjPCqNBhtOhFEaUNHbXuOHQ7BXvUC3v0EjnN7IPHsqv8p4P
p0tHB5c+LjdJn5VAWLRf1sqzgld4kDSkszoOTM2i3pnANrenoh2q5XllGWD2tIIBscp7wYPehdOz
mQ96xeBXomnwVUNIo2qXjKOjWUyEdEzFs/yYwY4aB+olV0XaL8qLBGKV94zYy3tulfd81NTm7Q4W
CwVzIbDyqHhFu4oxL+Nk0JDl7X4imMCgsF/UeGCrMPtFeZBArPKOyhjYqyIevfhOZHfkZ328XpI+
RqKpWs5t9D/K5ZE/oiPFJVK3P4JNLgu6nJ6KsV+UNgnEKu9EfiP77MzFwS8sDqKuz6bNJH3WC3aL
hCs7VQzzAfNxnhU0fkOaiGUwGc/bL6pR/g5VtVSDPxvIWxxC/sWn6XzVQvqwNdf1IawOrTUy6nhW
ODysYTqq56agj87ZL3b53FDLWCKVHAm0oISRAyoCo4sHv5W3dTvX/YIEhI2F2Ljzyi4VZwIMfeNa
bjo6mmb4PZdIrR4r2u1u6GUokQQJfCUh+yMSxntUTAwuHvxC7gjZI+SPTFtoi4r2urxF+9CQhlA8
fzMank1jLBrErloXvMxRLg5Vl1DVUvh3VSH+Q1XRlE9Mgr9XwWj/wlXe8yEGvGLga3fQ3b+kVCvv
jtN+DacmGdh5XVNlk7Gzqjwcqp6WsK94ciiRX+Ud4sdSj/gVU50bVdiKsHqI7Nx11qKtYTaZ76dw
Ku9Q7ayylUWBsI0nQQqYOaFgsFcF05ZuXLHYJRa9FNoEVfp3U4eE12xXeUbQeGZgZzP6QDiFYSWN
PdWlXSBs40iQASKnePD3XLzKu0CkufN2B6eL7v7lBGHR3r5pzqI9lEVsbr92VtPRE4iixp7IOVSl
EnSorv+YIAvEzig43a0inVyGjZyOwuhW30BOz3KHWEs4OaHlZpEuHOdt9dmxSXWVjERa3zFBrly5
nLM4JKLLzxQIi7OwOpPTszIgLNo7m4QZL79xJ5E+97tToSSG1RR2V7thL5ECYcZnAn4XSI3LGOTB
Hw0tH/wOZ176uD0kfSoVWR4PYuPO8PTFGb7BacE2t5tL5eLd/YzNBHPlyof2KQgFlk91Yltjc3P5
FbYirGHQyUNhd27jTn61OXXeeNAfz2AqIQqEOVBbRIeqISTQpiWM7FcRGL+0zhMb21vLuLAVYW2o
98h4/Q4Zx0Y1jM2cywpizHA8mIDDkpdI1iLYLwoigShXPtajYvLMpYM/V9iKSx9R4oRgToiNO1e0
5bPC0dzGnXO/S2QY9vkjaHJb0OnYWIfqmkggypVP9ioYO7X0Ku9Z6SMKWzXlnZ5kdyAIbJrfuDOS
xWR4YQCNRTOYmC8QtkEO1VWRQGxkz+3lPXbp4BcQ5QxFWUObne7+hAuUAY+8P+hQMcql0bG5jTtn
FQYPl40sELYyEqQkzPTJGDy89Crv+RB6X+zwqq6h4Ccsj+bq/LMVxKA5MLswXoRD9WyBMNv6OVSX
J8FcufLBgyqymUt/mJjpETM+YuZHJrsDYYUQG3fmn61wfM6ifT5EgbAROYg9tS64NOMLhC1Ogrly
5WIjezq1sg8SD7EQD7NwkNOTsEace7aChpnYwjgSq9AHp2Lw2ZPYaXCBsIWLZWKVd1jOlStPxFfG
NuH0FI8xqiOnJ8EgiPGmeLbCSZEVlggrowqEnVssY+ceSh2NrDzViAfYtbSR05NgLC58tkI4fjET
RIGwnEPVgAJhUuCR6tBgt1J1frnyS0E8ulRIHxc5PQkbkBXyz1ZgS2aFOoeK7Z61FQjLZYLep1eu
rcQdXzg9hdefQNiorHD+sxWiiziRA4ksP2awvcaBBtm5aom04neL3V17rsgSAQhFwfyzFbY0yEv6
zU4GE9gXCiJlSa7qsy+ZPxxzha08VNiKUGTMP1tBlIoUWSG+yMxlvkDYLDa5kuha4SNs5aUGtcLi
IKTPrj0aEYBQUvA5889WEFUvloIoECYeYTsjxyDJ+iUzwTQu2E8gavq0d5DTk1C6EBt3Lm/OZwWx
nTOZWXxQfWw6DtdcgbBFHmErcklYUOnZ+VdENbdtOzRs204EIJQHhOXi9ZdZ0FKzdFaIpVnuEbZn
smFI6gLfz7PzA+Ob+EBjTBS12v0yDT4fSR9CeUFs3NnTquDKTgW2ZSY7R2bTeDEQxKwS54NrPcxf
ujFHAm+VPsaD/4+aW9iP+DggSE1KKFeIaVQxVtjkW3rBV9MR6Q3EHu+NBV+jWdLHxGv/L8AAybIL
6Ea0bskAAAAASUVORK5CYII=">
        		<a href="#" type="button" style="font-weight: 500; background-repeat: repeat-x; font-size: 14.994px; border: none; -webkit-backface-visibility: hidden; transition: 0.25s; -o-transition: 0.25s; -moz-transition: 0.25s; -webkit-transition: 0.25s; line-height: 22px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: none; -moz-box-shadow: none; text-shadow: none; box-shadow: none; text-decoration: none; background: #bdc3c7; color: #ffffff; padding: 9px 12px 10px; background-color: #1abc9c;"><b>You have been invited to join this class!</b></a>
        	</center>
     	</div>

      <div style="padding: 7px; border: 2px solid; border-color: #1abc9c; padding-right: 20px;">
        	From: <a style="color: #1abc9c; text-decoration: none;">{{ sender.email }} [{{ sender.last_name }}, {{ sender.first_name }}]</a><br/>
			Subject: Invitation to join {{ studentList.year_level }}-{{ studentList.section }}<br/>
			Class Key: <span style="color: #1abc9c">{{ studentList.key }}</span><br/><br/><br/>
			Please <a href="tecs.herokuapp.com" style="color: #1abc9c; text-decoration: none;">Log-in</a> or Register to <a href="http://tecs.herokuapp.com/accounts/register/" style="color: #1abc9c; text-decoration: none">tecs.herokuapp.com</a> and enter the Class Key to enroll in a Class.
		
      </div>
{% endblock %}