{% extends "base/base_admin.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Home
{% endblock %}

{% block content %}
<head>
	<script src="{% static 'base/js/jquery.min.js' %}"></script>

	<script>
	    $(function() {
		    var tooltips = $( "[title]" ).tooltip();
		    $(document)(function() {
		    	tooltips.tooltip( "open" );
		    })
	    });
	</script>
	
</head>

<div class="page-content">
	<div class="content">
		<img class="title-icons" src="{% static 'base/img/icons/Dashboard.png' %}">
		<h3>Dashboard</h3>
		<hr>
		<div class="hero-unit">
			<h1>Hello, {{ request.user.first_name }}</h1>
			<p>Welcome to TECS: Test Essay Checking Software.</p>
		</div>
				<div class="row-fluid">
					<p class="pull-right">
						<a href="{% url 'classes:editSchool' admin %}" data-toggle="tooltip" data-trigger="hover" data-placement="left" title data-original-title="Edit School Info" class="btn btn-warning"><i class="fui-new"></i></a>
					</p>
					<img class="title-icons" src="{% static 'base/img/icons/Clipboard@2x.png' %}">
					<h3 class="title">Teachers List</h3>
					<hr>
					{% if error and message %}
						<div class="alert alert-block alert-error">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
				          <h4><strong>Oops!</strong></h4>
				          {{ message }}
				        </div>
				    {% elif message %}
				    <div class="alert alert-block alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
			          <h4><strong>Success!</strong></h4> {{ message }}
			        </div>
				    {% endif %}
		    
					{% if teacher_list.all.count %}
					<table class="table table-striped">
						<thead>
							<tr>
								<th style="width: 3px"><center>#</center></th>
								<th style="width: 45px"><center>Name</center></th>
								<th style="width: 20px"><center>Section</center></th>
								<th style="width: 20px"><center>Subject Name</center></th>
								<th style="width: 3px"><center>No. Students</center></th>
								<th style="width: 3px"><center>View</center></th>
								<th style="width: 3px"><center>Disable</center></th>
								<th style="width: 3px"><center>Delete</center></th>
							</tr>
						</thead>
						<tbody>
							{% for teachers in teacher_list %}
								<tr>
									<td><center>{{forloop.counter}}</center></td>
									<td><center>{{teachers.user.last_name}}, {{teachers.user.first_name}}</center></td>
									<td><center>{% for class in classList %}{% for classes in class %}{% if teachers.user == classes.teacher.user %}{{ classes.year_level }} - {{ classes.section }}{% if class.all.count > forloop.counter %}, {% endif %} {% endif %}{% endfor %}{% endfor %}</center></td>
									<td><center>{% for class in classList %}{% for classes in class %}{% if teachers.user == classes.teacher.user %}{{ classes.subject }}{% if class.all.count > forloop.counter %}, {% endif %} {% endif %}{% endfor %}{% endfor %}</center></td>
									<td><center>{% for class in classList %}{% for classes in class %}{% if teachers.user == classes.teacher.user %}{{ classes.student.all.count }}{% if class.all.count > forloop.counter %}, {% endif %} {% endif %}{% endfor %}{% endfor %}</center></td>
									<td><center><a href="{% url 'classes:viewTeachers' teachers.id %}" class="btn btn-primary fui-location"></a></center></td>
									<td><center>{% if teachers.user.is_active %}<a href="{% url 'classes:disableTeacher' teachers.id 0 %}" class="btn btn-warning fui-play"></a>{% else %}<a href="{% url 'classes:disableTeacher' teachers.id 0 %}" class="btn btn-inverse fui-pause">{% endif %}</center></td>
									<td><center><button type="button" class="delsys-button btn btn-danger" data-id={{ teachers.id }} data-toggle="modal" data-target="#confirm-delete"><i class="fui-cross"></i></button></center></td>
								</tr>
							{% endfor %}
						</tbody>
						</table>
					{% else %}
					<div class="alert alert-block alert-error">
			          <h4><strong>Oops!</strong></h4>
			          You haven't added teachers yet.
			        </div>
					{% endif %}
				</div>
	</div>

<div id="confirm-delete" class="modal hide fade" data-backdrop="static">
	<div class="modal-header palette-alizarin">
		<h3 class="text-white">Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to remove this teacher from this school?</p>
		<p>Continuing with this action, will erase his/her account on this school. </p>
		<form action="{% url 'classes:delete_teacher' %}" method="post">{% csrf_token %}
			<input type="hidden" id="teacher_id" name="teacher_id" value="">
		<form>
	</div>
	<div class="modal-footer">
		<button type="submit" name="gradesys-delete" class="btn btn-danger pull-left">Delete <span class="fui-cross"></span></button>
		<button class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<script>
	$(".delsys-button").on("click", function() {
		var teachers_id = $(this).data('id')
		$("#teacher_id").val(teachers_id)
	});
</script>

</div>
<script src="{% static 'base/js/jquery.min.js' %}"></script>
{% endblock %}


