{% extends "base/base_suadmin.html" %}
{% load staticfiles %}

{% block title %}
TECS: Test Essay Checking Software | Super Admin
{% endblock %}

{% block content %}

<div class="page-content">
	<div class="row-fluid">
		<div class="content">
			<div class="row-fluid">
				<p class="pull-right">
					<a href="{% url 'auth:addsuperadmin' %}" class="btn btn-warning"><i class="fui-plus"></i>Add New Super Admin</a>
				</p>
				<img class="title-icons" src="{% static 'base/img/icons/tie.png' %}">
				<h3 class="title">Super Admins</h3>	
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width: 5%">#</th>
							<th style="width: 2%"></th>
							<th style="width: 23%">Username</th>
							<th style="width: 23%">Last Name</th>
							<th style="width: 23%">First Name</th>
							<th style="width: 14%">Status</th>
							<th style="width: 10%"></th>
						</tr>
					</thead>
					<tbody>
						{% for superadmin in superadmins %}		
							<tr>
								<td>{{forloop.counter}}</td>
								<td>
									{% if superadmin.registered_by.pk == user.pk %}
										<span class="fui-user text-info"></span>
									{% endif %}
								</td>
								<td>
									{{superadmin.user.username}}
									{% if superadmin.user == user %}
										(You)
									{% endif %}
								</td>
								<td>{{superadmin.user.last_name }}</td>
								<td>{{superadmin.user.first_name }}</td>
								<td>			
									{% if superadmin.status == 1 %}
										<span class="fui-check-inverted-2"></span> Active
									{% else %}
										<span class="fui-radio-unchecked"></span> Inactive
									{% endif %}
									
								</td>								
								<td>
									{% if superadmin.status == 1 %}
										<a href="{% url 'auth:suadmin_viewsuperadmindetails' superadmin.user.username %}" class="btn btn-info">View</a>
									{% else %}
										<button class="btn btn-info disabled">View</button>
									{% endif %}
								</td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
				<hr>
				<p class="text-info">Accounts marked with <span class="fui-user"></span> are accounts you created.</p>
			</div>
		</div>
	</div>

<script src="{% static 'base/js/jquery.min.js' %}"></script>
{% endblock %}